DATABASE_URL=
QDRANT_API_KEY=
QDRANT_CLUSTER_ENDPOINT=
OPENAI_API_KEY=

LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=quran-insights
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com